.card {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
   padding: 25px;
   border-radius: 40px;
   gap: 20px;
   padding-bottom: 40px;

color: #fff;

   h3 {
      border-bottom: 1px solid #C0B7E854;
      padding-bottom: 20px;

   }

   img {
      width: 90%;
      border: 10px solid #0E0E0E52;
      border-radius: 50%;
   }

}